 html, body {
  height: 100%;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1 0 auto;
}

footer {
  min-width: 1300px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
}


.btn-primary {
    background-color: #007bff;
}

.local-changers{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}